.navBar{
    display: flex;
    justify-content: left;
    width: 11.25rem;
    height: 100vh;
    background-color: rgb(121, 210, 233);
    position: fixed;
}

.buttonStyle{
    background-color: rgb(121, 210, 233);
    border-color: white;
}

.navBarUL {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 33vh;
}

.navBarUL li a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 17.5px;
    font-weight: 700;
    padding: 10px 20px;

    transition: 0.3s;
 }
  
li a:hover:not(.active) {
    background-color: #89a7e0;
}

.navBarTitle{
    font-size: 32pt;
}

.navLiButton{
    position: absolute;
    bottom: 2.5rem;
}

.navLiButton2{
    padding: 0.75rem 3rem;
    border-radius: 0.5rem;
}